<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiDuplicateItem>
        <processor type="Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets" method="Execute">
          <patch:attribute name="type">Sitecore.Support.Shell.Framework.Pipelines.ItemDuplicate,Sitecore.Support.107642</patch:attribute>
        </processor>
      </uiDuplicateItem>
      <uiCopyItems>
        <processor type="Sitecore.Shell.Framework.Pipelines.CopyItems,Sitecore.Kernel" method="Execute">
          <patch:attribute name="type">Sitecore.Support.Shell.Framework.Pipelines.CopyItems,Sitecore.Support.107642</patch:attribute>
        </processor>
        <processor type="Sitecore.Buckets.Pipelines.UI.ItemCopy, Sitecore.Buckets" method="Execute">
          <patch:attribute name="type">Sitecore.Support.Buckets.Pipelines.UI.ItemCopy,Sitecore.Support.107642</patch:attribute>
        </processor>
      </uiCopyItems>
    </processors>
  </sitecore>
</configuration>
